@{
    ViewBag.Title = "Home";
}
    
    
    <h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-4">
            
                <img src=http://www.sittersolutions.net/wp-content/uploads/2014/02/pet-sitting-pg.jpg alt="Sample Image" width="300px" class="img-rounded" />
            
        </div>
        <div class="col-md-8">
            <h2>Welcome to the Pet Store Application</h2>
            <p>If you are a pet lover this is the place to be. We offer a huge variety of different kinds of animals, pet food, animal supplies, and pet accessories. Browse our inventory
            to see what we have for you. We stock a complete line of cages and enclosures for any type of pet you may have. 
            </p>
            <p>
             We pride ourselves on our wide selection of the highest quality food on the market, clean and positive 
             environment, excellent customer service and knowledgeable staff. We will make sure you leave our store
             feeling confident about your pets well being and health. Whether your shopping for a dog, cat, fish, 
             reptile, bird, small animal or just coming in for a groom, we'll make sure you will look forward to 
             coming back!
            </p>
            
        </div>
        
    </div>
